body {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #333;
  }
  p {
      color: #333;
    }
  img {
     width: 300px;
     height: 200px;

  }
  #menu {
     padding : 2px;
     display : flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
  }
  #menuDiv{
      display : flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
  }
  #cards{
      margin : 10px;
      padding : 2px;
      border-radius : 4px;
  }
  #cards :hover{
      transform: scale(1.1);
      background-color: yellow;
      border-radius: 6px;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  